<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

<!--useGeneratedKeys="true"，keyProperty="id"：表明我需要这个sql语句的主键返回值,而且这个主键值会付给我们这个的id属性（为了获得这个id 然后返回给后面的口味处理的部分）-->
    <insert id = "insert" useGeneratedKeys="true" keyProperty="id">
        insert into dish (name, category_id, price, image, description, create_time, update_time, create_user, update_user, status)
            values
        (#{name}, #{category_id}, #{price}, #{image}, #{description}, #{create_time}, #{update_time}, #{create_user}, #{update_user}, #{status})
    </insert>

    <delete id="deleteByIds">
        delete from dish where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="pageQuery" resultType="com.sky.vo.DishVO">
        select d.*, c.name as categoryName from dish d left outer join category c on d.category_id = c.id
        <where>
            <if test="name != null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and d.category_id = #{category}
            </if>
            <if test="name != null">
                and d.status = #{status}
            </if>
        </where>
        order by d.create_time desc
    </select>

    <update id="update">
        update dish
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryId != null">
                categoryId = #{categoryId},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime},
            </if>
            <if test="updateUser != null">
                updateUser = #{updateUser},
            </if>

        </set>
        where id = #{id}
    </update>

</mapper>
